body {
    font-family: 'Varela Round', sans-serif;
    padding: 1em 3em;
    text-align: center;
    background-color: #011627;
    color: white;
  }
  
  .tooltip {
    display: block;
    height: fit-content;
    background-color: #011627;
    opacity: 0.8;
    pointer-events: none;
    padding: 10px;
    text-align: left;
  }
  
  path.state {
    stroke: black;
  }