body {
    /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
    font-family: "Source Sans Pro", sans-serif;
    padding: 1em 3em;
  }
  
  .land {
    stroke-width: 0.5px;
    stroke: grey;
    fill:grey;
  }

  .circle {
    stroke-width: 0.5px;
    fill: black;
  }

  #d3-container {
      background-color: white;
  }