body{
    font-family: sans-serif;
}

div.tooltip {	
    position: absolute;			
    text-align: left;			
    width: 165px;					
    height: 175px;
    padding: 15px;			
    font: 12px sans-serif;		
    background: white;		
    pointer-events: none;			
}

.axis-label {
    font-size: 14px;
    fill: black;
    text-anchor: middle;
  }

label {
    padding: 5px;
    font-size: 14px;
  }